.about-section__content {
  font-size: 14px;
  line-height: 1.86;
  & button {
    margin-top: 40px;
  }
}

.about-section__text {
  margin: 20px 0;
  font-size: $tablet_font-size;
  line-height: 1.62;
}
