.team {
  background: #f7f7f7;
  color: #303030;

  &__list {
    margin-top: 44px;
    // min-width: 418px;

    @media screen and (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 46px;
    }
  }

  &__item {
    margin-bottom: 67px;
    text-align: center;
    align-items: center;
    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 0;
    }
  }

  &__cards {
    margin-top: 30px;

    &__name {
      font-size: $desktop_font-size;
      font-weight: 400;
      line-height: 1.39;
      text-align: center;
      color: $title-color;
    }

    &__text {
      padding-top: 8px;
      color: #ff6c00;
      font-size: 14px;
      line-height: 1.36;
    }
  }
}
