.title {
  margin-top: 20px;
  font-family: $title-font-stack;
  font-weight: $title-font_weight;
  letter-spacing: 0.05em;
  font-size: $tablet__title_font-size;
  line-height: 1.17;
  color: #ffffff;

  @media screen and (min-width: $desktop) {
    font-size: $desktop__title_font-size;
    line-height: 1.18;
  }

  &_dark {
    color: #303030;
  }
  &_small {
    font-size: 28px;
    line-height: 1.18;
  }

  &_middle {
    font-size: 42px;
  }
}
